/*!
 * Created by: Jonas Tomanga
 */
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";
@import "compass";
@import "variables";
@import "mixins";
@import "classes";
html {
    height: 100%;
}
.sub-container {
    max-width: 1100px;
}


.navbar-brand {
    //  padding: 0;
    .logo {
	//max-height: 3.2em;

    }
}

body { padding-top: 60px;
       background-repeat: repeat;
       font-family: 'Open Sans', sans-serif;
       height: 100%;
}

#map {
    height: 600px;
    padding: 0;
    margin: 0;
    width: 100%;
    font:dd;

}

.portalContainer {
    .page-header {

    }
}

#main-menu {
    li {
	font-size: 16pt;
	i {
	    display: inline-block;
	    width: 60px;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
	a {
	    padding-right: 20px;
	}
    }
}

#main-chart, #side-chart {
    min-height: 400px;
}

#addModal {
    margin-top: 200px;
    padding: 5px;
}

