{# empty Twig template #}

<div class="btn-group" id="main-menu">
    <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-2x fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
	<li><a href="/intersections"><i class="fa fa-plus"></i> Intersections</a></li>
	<li><a href="/accidents"><i class="fa fa-warning"></i> Accidents</a></li>
	<li><a href="/users"><i class="fa fa-users"></i> Users</a></li>
	<li role="separator" class="divider"></li>
	<li><a href="/portal"><i class="fa fa-map"></i> Portal</a></li>
    </ul>
</div>